<div class="col-lg-12 text-center">
    <h2 class="animated fadeIn">Bem-vinda(o) ao RuaPerfeita!</h2>
</div>
<div class="col-lg-12 padding-top animated fadeIn">
    <div class="panel panel-default">
        <div class="panel-heading" data-toggle="collapse" data-target="#comoUsar">
            <h3 class="panel-title cursor-pointer">Como usar?</h3>
        </div>
        <div class="panel-body collapse" id="comoUsar">
            <ul>
                <li><p>1 - Localize a rua que você acha que precise de melhorias</p></li>
                <li><p>2 - Escolha a melhoria na lista a direita</p></li>
                <li><p>3 - Clique no mapa para <strong>adicionar sua melhoria</strong></p></li>
            </ul>
        </div>
    </div>
</div>
<div class="col-lg-12 animated fadeIn">
    <div class="panel panel-default">
        <div class="panel-heading" data-toggle="collapse" data-target="#tenteTambem">
            <h3 class="panel-title cursor-pointer">Tente também...</h3>
        </div>
        <div id="tenteTambem" class="panel-body collapse">
            <ul>
                <li><p>1 - Veja outras melhorias da cidade ou do seu bairro</p></li>
                <li><p>2 - Clique sobre elas</p></li>
                <li><p>3 - <strong>Vote</strong> se está melhoria seria boa ou não para aquela região</p></li>
            </ul>
        </div>
    </div>
</div>
<div class="map animated bounceIn">
    <div class="col-lg-10 col-md-10 col-sm-12 col-xs-12">
        <ui-gmap-google-map id="map"
                            center="hc.map.center"
                            pan="hc.map.pan"
                            zoom="hc.map.zoom"
                            draggable="true"
                            refresh="hc.map.refresh"
                            options="hc.map.options"
                            events="hc.map.events"
                            bounds="hc.map.bounds">


            <ui-gmap-drag-zoom keyboardkey="'alt'"></ui-gmap-drag-zoom>
            <ui-gmap-marker
                ng-repeat="p in hc.pins" idKey="$index" coords="{latitude:p.lat,longitude:p.lng}"
                options="{icon:p.icon}">
                <ui-gmap-window isIconVisibleOnClick="true">
                    <div>
                        <h1 ng-bind="$parent.p.title"></h1>
                        <div>
                            votos: <span ng-bind="$parent.p.voto"></span>
                        </div>
                        <div ng-show="!$parent.p.hideButton">
                            <button ng-click="$parent.hc.votar($parent.p,true)">like</button>
                            <button ng-click="$parent.hc.votar($parent.p,false)">dislike</button>
                        </div>
                    </div>
                </ui-gmap-window>
            </ui-gmap-marker>

            <!--<ui-gmap-drag-zoom options='map.dragZoom.options'></ui-gmap-drag-zoom>-->
        </ui-gmap-google-map>
    </div>
    <div class="col-lg-2 col-md-2 col-sm-12 col-xs-12">
        <ul class="col-lg-12">
            <li class="col-md-12 col-lg-12 col-sm-3 col-xs-6 animated bounceIn"><img
                ng-class="{'active animated pulse':hc.stick.icon == 'public/icon/lombada.png'}" ng-click="hc.select('lombada')"
                src="public/img/lombada.png" alt="lombada"></li>
            <li class="col-md-12 col-lg-12 col-sm-3 col-xs-6 animated bounceIn"><img
                ng-class="{'active animated pulse':hc.stick.icon == 'public/icon/semaforo.png'}" ng-click="hc.select('semaforo')"
                src="public/img/semaforo.png" alt="semaforo"></li>
            <li class="col-md-12 col-lg-12 col-sm-3 col-xs-6 animated bounceIn"><img
                ng-class="{'active animated pulse':hc.stick.icon == 'public/icon/nao_semaforo.png'}"
                ng-click="hc.select('nao_semaforo')" src="public/img/nao_semaforo.png" alt="nao_semaforo"></li>
            <li class="col-md-12 col-lg-12 col-sm-3 col-xs-6 animated bounceIn"><img
                ng-class="{'active animated pulse':hc.stick.icon == 'public/icon/nao_lombada.png'}" ng-click="hc.select('nao_lombada')"
                src="public/img/nao_lombada.png" alt="nao_lombada"></li>
            <li class="col-md-12 col-lg-12 col-sm-3 col-xs-6 animated bounceIn"><img
                ng-class="{'active animated pulse':hc.stick.icon == 'public/icon/nao_estacionamento.png'}"
                ng-click="hc.select('nao_estacionamento')" src="public/img/nao_estacionamento.png"
                alt="nao_estacionamento"></li>
        </ul>
    </div>
</div>