body {
    font-family: 'Poiret One', cursive !important;
    background-color: #ffffff !important;
    color: #000000;
}

.mdl-navigation__link {
    font-size: 20px;
}

.como-usar{
    font-size: 24px;
    font-weight: bold;
}

.close{
    font-family: 'Oswald', sans-serif !important;
}

.mdl-dialog__title {
    font-size: 3.5rem;
    font-weight: bold;
}

.title{
    font-family: 'Poiret One', cursive !important;
    font-weight: bold;
    font-size: 40px;
}

.no-border{
    border: none !important;
}

.melhorias{
    background-color: rgba(255,255,255,0.70) !important;
    min-height: 600px;
    overflow-y: auto;
    margin-top: 20px;
}

.facebook-comments{
    background-color: rgba(255,255,255,1) !important;
    min-height: 600px;
    overflow-y: auto;
    margin-top: 20px;
}

.mapa{
    margin-top: 20px;
}

.header{
    background-color: rgba(0,0,0,0.70) !important;
    margin-bottom: 10px;
}

.angular-google-map-container {
    width: 100%;
    height: 600px;
}

/* fix for Twitter Bootstrap handling of responsive images */
.angular-google-map img {
    max-width: none;
}
li{
    list-style: none;
}

a{
    cursor: pointer;
}

.angular-google-map {
    top: 80px;

}

.shrink {
    font-size: 8;
}

.true:hover {
    background-color: lightgreen;
}

.false:hover {
    background-color: lightpink;
}

.marker-labels {
    color: red;
    background-color: white;
    font-family: "Lucida Grande", "Arial", sans-serif;
    font-size: 10px;
    font-weight: bold;
    text-align: center;
    border: 1px solid black;
    white-space: nowrap;
}

/** FIX for Bootstrap and Google Maps Info window styes problem **/
img[src*="gstatic.com/"], img[src*="googleapis.com/"] {
    max-width: none;
}


/* uncomment this if you are using the <google-map> element instead of a div
.angular-google-map {
  display: block;
  }*/

.custom-info-window{
    background: rgba(0,0,0,0.5);
    color: white;
    padding: 20px;
    /*border: 1px solid white;*/
    box-shadow: 3px 3px 10px rgba(0,0,0,0.5);
    border-radius: 5px;
    width: 200px;
    margin-top: 15px;
    margin-left: -130px;
}
.custom-info-window a{
    color: white;
    text-decoration: underline;
}
.custom-info-window:after
{
    content: '';
    position: absolute;
    border-style: solid;
    border-width: 0 15px 15px;
    border-color: rgba(0,0,0,0.5) transparent;
    display: block;
    width: 0;
    z-index: 1;
    top: -15px;
    left: 118px;
}
.active{
    border: 1px solid black;
    border-radius: 13px;
    background-color: yellow;
}

.page-header > h1 {
    color: rgb(140, 141, 252);
    margin: 0;
    padding: 0;
}

.page-header{
    margin: 20px 0 20px 20px !important;
}

.cursor-pointer{
    cursor: pointer;
}


.comentarios{
    max-height: 1000px;
    min-height: 600px;
}

.container.main{
    padding-bottom: 20px;
    margin-top: 80px;
}

.container{
    background-color: rgb(240, 237, 229);
}

.cover{
    background: url("../img/fundo_pg.jpg") no-repeat fixed center;
    background-size: 100%;
}


