<style>
    li.item-list {
        text-align: center;
        text-align: center;
        margin: 5px 0;
        border-radius: 4px;
        font-size: 20px;
        font-weight: bold;
    }

</style>

<div class="main" class="row">
    <div class="map" data-ng-controller="GoogleController as gc">
        <div class="col-lg-8 col-md-8 col-sm-12 col-xs-12">
            <div class="col-lg-12 facebook-comments">
                <div class="col-lg-2">
                    <ul class="no-margin" ng-init="tab = 1">
                        <li class="item-list">
                            <a ng-click="tab = 1">Melhorias</a>
                        </li>
                        <li class="item-list">
                            <a ng-click="tab = 2">Recentes</a>
                        </li>
                        <li class="item-list" ng-show="gc.comentarios">
                            <a ng-click="tab = 3">Descrição</a>
                        </li>
                        <li class="item-list" ng-show="gc.comentarios">
                            <a ng-click="tab = 4">Comentarios</a>
                        </li>
                        <li class="item-list" ng-show="gc.comentarios">
                            <a ng-click="tab = 5">Votos</a>
                        </li>
                    </ul>
                </div>
                <div class="col-lg-10" ng-show="tab == 1">
                    <ul class="col-lg-12 melhorias">
                        <h1 class="text-center">Escolha uma melhoria</h1>
                        <li class="col-md-3 col-sm-4 col-xs-12" ng-repeat="types in gc.types" ng-class="{'active':gc.pin == types.id_tipo}">
                            <a ng-click="gc.select(types.id_tipo)" >
                                <img ng-src="{{types.imagem}}" alt="{{ types.nome }}">
                            </a>
                        </li>
                    </ul>
                </div>
                <div class="col-lg-10" ng-show="tab == 3">
                    <div class="margin-top">
                        <p>{{gc.pin_select.descricao}}</p>
                    </div>
                </div>
                <div class="col-lg-10" ng-show="tab == 4">
                    <div class="margin-top">
                        <iframe class="col-lg-12 comentarios" src="{{ gc.comentarios }}" frameborder="0"></iframe>
                    </div>
                </div>
                <div class="col-lg-10" ng-show="tab == 5">
                    <div class="col-lg-offset-2 col-lg-3">
                        <button ng-click="gc.downVote(gc.pin_select)" class="btn btn-block">-1</button>
                    </div>
                    <div class="col-lg-1 text-center">
                        {{ gc.pin_select.voto }}
                    </div>
                    <div class="col-lg-3">
                        <button ng-click="gc.upVote(gc.pin_select)" class="btn btn-block">+1</button>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-lg-4 col-md-4 col-sm-12 col-xs-12 mapa">
            <ui-gmap-google-map class="map"
                                center="gc.map.center"
                                zoom="gc.map.zoom"
                                dragging="gc.map.dragging"
                                bounds="gc.map.bounds"
                                events="gc.map.events"
                                options="gc.map.options"
                                pan="true"
                                control="gc.map.control">


                <ui-gmap-marker
                        class="icon"
                        ng-repeat="p in gc.pins"
                        idKey="p.id_pin"
                        coords="{latitude:p.lat,longitude:p.lng}"
                        control="p"
                        options="{icon:p.icon}"
                        click="gc.showComentarios">
                </ui-gmap-marker>

            </ui-gmap-google-map>
        </div>
    </div>
</div>